<div ng-controller="CharactersCtrl">
    <h2>Total Characters: {{characters.length}}</h2>
    <ul>
        <li ng-repeat="character in characters">
            <a level="{{character.level}}">{{character.name}} ({{character.level}})</a>
            <span>Str: {{character.str}}</span>
            <span>Dex: {{character.dex}}</span>
            <span>Int: {{character.int}}</span>
            <span>Con: {{character.con}}</span>
            <button ng-click="selectCharacter()">Select</button>
        </li>
    </ul>

    <!-- <button ng-click="addCharacter()">Add</button> -->
</div>
