<div ng-controller="CharactersCtrl" ng-show="$parent.loggedIn && !$parent.characterSelected && !$parent.creatingCharacter">
    <h2>Total Characters: {{characters.length}}</h2>
    <ul>
        <li ng-repeat="character in characters">
            <a level="{{character.level}}">{{character.name}} ({{character.level()}})</a>
            <span>Str: {{character.str}}</span>
            <span>Dex: {{character.dex}}</span>
            <span>Int: {{character.int}}</span>
            <span>Con: {{character.con}}</span>
            <button ng-click="selectCharacter()">Select</button>
        </li>
    </ul>

    <span ng-show='error'>{{error}}</span><br>

    <button ng-click="create()" ng-show"characters.length<4">Create a new character</button>
</div>
