<div ng-controller="CharacterCreateCtrl" ng-show="$parent.creatingCharacter">
    <form>
        <input ng-model="name"><br>
        <button ng-click="create()">Create</button>
        <button ng-click="cancel()">Cancel</button>
    </form>
</div>