<div ng-controller="GameCtrl">
    <!-- <ul><li ng-repeat='player in players'>{{player.name}}</li></ul> -->
    <div id='stage'></div>

    <div ng-controller="ChatCtrl">
        <form ng-submit="sendMessage()">
        <input ng-model='input' ng-model-instant placeholder='Press enter to chat'>
        </form>
        <ul>
            <li ng-repeat="msg in messages">{{msg.name}}: {{msg.text}}</li>
        </li>
    </div>
</div>