<div ng-controller="InstancesCtrl">
    <ul>
        <li ng-repeat="instance in instances">
            {{instance.name}}
            <button ng-click="selectInstance()">Play</button>
        </li>
    </ul>
</div>