<div ng-controller="LoginCtrl" ng-show="!$parent.loggedIn && !$parent.creatingAccount">
    <form method="post">
        <div>
            <label>Email:</label>
            <input type="text" ng-model="email" name="email" value='t@t.com'/>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" ng-model="password" name="password" value="test"/>
        </div>
        <div>
            <button ng-click="login()">Log In</button>
        </div>
        <div>
            <button ng-click="create()">Create an account</button>
        </div>

    </form>
</div>