<!DOCTYPE html>
<html ng-app="myApp" ng-controller="AppCtrl">

    <head>
        <meta charset="utf8">
        <base href="/">
        <title>Angular Express Seed App</title>
        <link rel="stylesheet" href="/css/app.css">
    </head>

    <body>
        <div ng-controller="LoginCtrl" ng-hide="$parent.loggedIn">
            <input type="text" ng-model="username">
            <input type="password" ng-model="password">
            <button ng-click="login()" ng-disabled="!validate()">Login</button>
            <a ng-click="doAlert()">Alert</a>
        </div>

        <div ng-controller="CharactersCtrl">
            <h2>Total Characters: {{totalCharacters()}}</h2>
            <ul>
                <li ng-repeat="character in characters">
                    <a level="{{character.level}}">{{character.name}} ({{character.level}})</a>
                    <span>Str: {{character.str}}</span>
                    <span>Dex: {{character.dex}}</span>
                    <span>Int: {{character.int}}</span>
                    <span>Con: {{character.con}}</span>
                </li>
            </ul>
            <form>
                <input type="text" ng-model="formNewCharacterName">
                <button class="btn" ng-click="addCharacter()">Add</button>
            </form>
        </div>

        <div ng-controller="LogoutCtrl" ng-show="$parent.loggedIn">
            <a ng-click='logout()'>Logout</a>
        </div>

        <script src="js/lib/angular/angular.js"></script>
        <script src="/socket.io/socket.io.js" type="text/javascript"></script>

        <script src="js/app.js"></script>
        <script src="js/services.js"></script>
        <% for(f in frontEndPackage) {%><script src="js/<%- frontEndPackage[f] %>"></script><% } %>

        <script src="js/controllers.js"></script>

        <script src="js/filters.js"></script>
        <script src="js/directives.js"></script>
    </body>

</html>