<!DOCTYPE html>
<html ng-app="myApp" ng-controller="AppCtrl" ng-cloak>

    <head>
        <meta charset="utf8">
        <base href="/">
        <title>Angular Express Seed App</title>
        <link rel="stylesheet" href="/css/app.css">
    </head>

    <body>

        <div class='error' ng-show="error">{{error}}</div>
        <div class='notice' ng-show="notice">{{notice}}</div>

        <% include partials/login %>
        <% include partials/characters %>
        <% include partials/game %>
        <% include partials/character-create %>
        <% include partials/account-create %>



        <div ng-controller="LogoutCtrl" ng-show="$parent.loggedIn">
            <a ng-click='logout()'>Logout</a>
        </div>

        <script src="/js/lib/angular/angular.js"></script>
        <script src="/js/lib/base.js"></script>
        <script src="/js/lib/jquery.min.js"></script>
        <script src="/js/lib/easeljs.min.js"></script>

        <script src="/js/lib/engine/Camera.js"></script>
        <script src="/js/lib/engine/Renderer.js"></script>
        <script src="/js/lib/engine/StageManager.js"></script>
        <script src="/js/lib/engine/MapParser.js"></script>
        <script src="/js/lib/requestanimationframe.js"></script>
        <script src="/js/lib/keymaster.js"></script>

        <script src="/socket.io/socket.io.js" type="text/javascript"></script>

        <script src="/js/app.js"></script>
        <script src="/js/services.js"></script>
        <script src="/js/SocketEvents.js"></script>
        <script src="/js/mainloop.js"></script>

        <script src="/shared/LevelTable.js"></script>

        <script src="/js/scraps.js"></script>

        <% for(f in frontEndPackage) {%><script src="js/<%- frontEndPackage[f] %>"></script><% } %>

        <script src="/js/filters.js"></script>
        <script src="/js/directives.js"></script>
    </body>

</html>