<div ng-controller="AccountResetCtrl" ng-show="$parent.resettingAccount">
    <h1>Reset Password</h1>
    <form ng-hide="success">
        <span class='error' ng-show="error">{{error}}</span><br>
        Password<input type='password' ng-model='password'><br>
        Confirm Password<input type='password' ng-model='passwordConfirm'><br>
        <button ng-click='reset()'>Reset</button><br>
    </form>

    <div ng-show="success">
        Account has been created. Check your email for an activation link.
        <button ng-click="returnToLogin()">Return to login</button>
    </div>
</div>