<div ng-controller="LoginCtrl" ng-show="!$parent.loggedIn && !$parent.creatingAccount && !$parent.resettingAccount">

    <div class='error' ng-show="error">{{error}}</div>
    <div class='notice' ng-show="notice">{{notice}}</div>

    <form method="post">
    <div class="container">
        <div class="row">
            <div class="span4 offset4">
                <div class="well">
                    <div>
                        <label>Email:</label>
                        <input type="text" class="span3" ng-model="email" name="email" value='tests'/>
                    </div>
                    <div>
                        <label>Password:</label>
                        <input type="password" class="span3" ng-model="password" name="password" value="tests"/>
                    </div>
                    <div>
                        <button class="btn btn-medium btn-success" ng-click="login()"><i class="icon-user"></i> Log In</button>
                        <button class="btn btn-medium btn-danger" ng-click="forgot()"><i class="icon-question-sign"></i> Forgot Password</button>
                    </div>
                    <div class="crtAcct">
                        <button class="btn btn-medium" ng-click="create()">Create an account</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </form>
</div>