<div ng-controller="LoginCtrl" ng-show="!$parent.loggedIn && !$parent.creatingAccount && !$parent.resettingAccount">

    <div class='error' ng-show="error">{{error}}</div>
    <div class='notice' ng-show="notice">{{notice}}</div>

    <form method="post">
        <div>
            <label>Email:</label>
            <input type="text" ng-model="email" name="email" value='tests'/>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" ng-model="password" name="password" value="tests"/>
        </div>
        <div>
            <button ng-click="login()">Log In</button>
            <button ng-click="forgot()">Forgot Password</button>
        </div>
        <div>
            <button ng-click="create()">Create an account</button>
        </div>

    </form>
</div>